$pricing-color: rgb(252, 247, 251);
$pricing-head-color: rgb(223, 94, 146); 
$pricing-font: 'Nunito', sans-serif;
$pricing-head-font: 'Amaranth', sans-serif;
$icon-color: rgb(255, 212, 229);
$text-color: rgb(17, 9, 34);

@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700|Nunito:400,700,700i|Open+Sans:400,700');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  font-family: 'Open Sans', sans-serif;
  color:$text-color;
  background-color: $pricing-color;
}

#wrapper{
    position: relative;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
  font-family: $pricing-font;
}

a:active,
a:visited{
  color: $text-color;
}

a:hover{
  border-bottom: 3px solid $pricing-head-color;
}



.container{
  max-width: 1000px;
  width: 70%;
  margin: 0 auto;
}


/* start header styles */
header{
  background-color: $pricing-color;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  position: fixed;
  width: 100wh;
  // max-width: 1800px;
  top: 0;
  min-height: 80px;
  // background-color: $icon-color;
  @media (max-width: 600px){
    flex-direction: column;
    align-content: center;
  }

  nav, #img{
    flex-grow: 1;
    width: 50%;
    margin:1% 2% 0 2%;
          @media (max-width: 600px){
    width: 60%;
    align-content: center;
    margin: 0 auto;
  }
  }

  #img{
     @media (max-width: 600px){
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    align-content: center;
    text-align: center;
  }
}
#logo {
  border: none;
}
  img{
    width: 40%;
    height: auto;
    padding-left: 20px;
    padding-top: 10px;
    // padding: 0 0 0 10%;
    background-color: inherit;
     @media (max-width: 750px){
       width: 60%;
     }
     @media (max-width: 600px){
    width: 30%;
    padding: 1% 0 0 0;
  }
}

ul{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  @media (max-width: 750px){
    flex-direction: column;
    margin: 0 auto;
    margin-top: 0px;
  }
}

li{
  display: block;
  width: auto;
  text-align: center;
  padding-left: 20px;
  @media screen and (max-width: 750px){
    margin-bottom: 3px;
  }
}
}
/* end header styles */


main {
  margin-top: 80px;
  @media (max-width: 600px) {
    margin-top: 140px;
  }

//start form style
  form{
    text-align: center;
  }

  h1{
    padding-top: 20px;
    font-family: $pricing-head-font;
    text-align: center;
    @media screen and (max-width: 750px){
    font-size: 1.5em;
      }
  }

  p{
    padding: 1%;
    @media screen and (max-width: 750px){
    font-size: 1em;
      }
  }

  input[type=email] {
    width: 280px;
    padding: 7px;
  }

  input[type=submit]{
    font-family: $pricing-font;
    font-size: 18px;
    font-style: italic;
    background-color: $pricing-head-color;
    padding: 0.3% 1.4%;
    border-radius: 10px;
    text-transform: uppercase;
    color: $pricing-color;
    @media screen and (max-width: 750px){
    font-size: 1em;
      }
  }
  //end form style
  
  #features{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    .icon{
      width:15%;
      padding: 3% 0 1% 0;
      @media screen and (max-width: 600px) {
        display: none;
      }

      i{
        font-size: 50px;
        color: $pricing-head-color;
      }
    }

    .desc{
      width:85%;
      padding: 2% 0;
      @media screen and (max-width: 750px){
    font-size: 0.9em;
      }
      @media screen and (max-width: 600px) {
        width: 100%;
        text-align: center;
        padding: 1% 0;
      }
    }
  }
   #video-emb {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;

  iframe{
    max-width: 560px;
    width: 100%;
  }
    }

  #price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5%;
     @media (max-width: 750px){
    flex-direction: column;
    margin: 2% auto;
     }


    .box{
      width: 32%;
      border: 2px solid $pricing-head-color;
      text-align: center;
      @media screen and (max-width: 750px){
        width: 70%;
        margin: 2% auto;
      }
    }

    h2{
      background-color: $icon-color;
      padding: 3% 0;
      font-family: $pricing-head-font;
      @media screen and (max-width: 750px){
    font-size: 1em;
      }
    }

    .img{
      width: 70%;
      margin: 2% auto;
    }

    img {
      width: 100%;
      height: auto;
    }
.price{
  font-size: 22px;
  padding-top: 2%;
   @media screen and (max-width: 750px){
    font-size: 1em;
      }
}

    button{
       font-family: $pricing-font;
    font-size: 16px;
    font-style: italic;
    background-color: $pricing-head-color;
    padding: 1% 10%;
    border-radius: 8px;
    text-transform: uppercase;
    color: $pricing-color;
    margin: 0 1px 3% 1px;
    }

  }    

}
// end main style

footer{
  margin-top: 5%;


    .footer{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: $icon-color;
       @media screen and (max-width: 750px){
    flex-direction: column;
  }
     

      .block1{
        width: 50%;
        text-align: center;
        background-color: $icon-color;
         @media screen and (max-width: 750px){
    width: 90%;
    margin: 1% auto;
    font-size: 1em;
  }
        

        ul{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  @media (max-width: 750px){
    flex-direction: row;
    margin: 0 auto;
    margin-top: 0px;
  }
}

li{
  display: block;
  width: auto;
  text-align: center;
  margin-left: 20px;
}
      }

      .block2{
        width: 50%;
        text-align: center;
        background-color: $icon-color;
        color: rgb(121, 118, 118);
        font-size: 0.8em;
        padding: 1% 0 2% 0;
         @media screen and (max-width: 750px){
    width: 90%;
    font-size: 0.8em;
    margin: 0 auto;
  }
      }

      a{
        border: none;
      }
      
       @media screen and (max-width: 750px){
       .hidden{
        display: none;
       }
      }
    }
    
}